DISCORD_TOKEN=
GUILD_ID=
PORT=8080
ENABLE_MESSAGE_LOGS=false

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHANNEL=
STREAMER_DISCORD_ID=0
TWITCH_POLL_SECONDS=60
TWITCH_OFFLINE_DELETE_DELAY=300
TWITCH_CLIPS_POLL_SECONDS=60
TWITCH_CLIPS_LOOKBACK_MINUTES=180
